.todoList {
  width: 90%;
  //flex-grow: 3;
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 8px;
  background-color: $background-table;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
}
.todoList::-webkit-scrollbar {
  display: none;
}

.table {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;

  &__title {
    height: 42px;
    border-bottom: 1px solid #eaf0fa;
    & > th {
      padding-left: 12px;
      text-align: left;
      vertical-align: middle;
      @include font(14px, 14px, 400);
      color: #899cb1;
    }
  }

  &__content {
    height: 42px;
    border-bottom: 1px solid #eaf0fa;

    & > td {
      padding-left: 12px;
      text-align: left;
      vertical-align: middle;
      @include font(14px, 14px, 400);
      color: #899cb1;
      text-wrap: wrap;
    }

    &:hover {
      background-color: #eaf0fa;
    }

    &:hover .table__checkbox {
      display: block;
    }
  }

  &__first {
    min-width: 20px;
  }

  &__btn,
  &__checkbox {
    padding: 0;
    border: none;
    width: 20px;
    height: 16px;
    background-color: inherit;
    cursor: pointer;

    & > img {
      width: 16px;
      height: 16px;
    }
  }

  &__checkbox {
    display: none;
  }
}

.edit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: $background-table;
}
