.todoList {
  position: relative;
}

.table {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: $background-table;

  &__title {
    height: 42px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 32px 150px 100px 200px 200px 100px 150px 75px;
    border-bottom: 1px solid #eaf0fa;
    & > p {
      padding-left: 12px;
      @include font(14px, 14px, 400);
      color: #899cb1;
    }
  }

  &__scroll {
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.tableContent {
  height: 42px;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 32px 150px 100px 200px 200px 100px 150px 75px;
  border-bottom: 1px solid #eaf0fa;

  &:hover {
    background-color: #eaf0fa;
  }

  &__checkbox {
    display: none;
    width: 16px;
    height: 16px;
    margin-left: 12px;
  }

  &:hover &__checkbox {
    display: block;
  }

  &__item {
    padding-left: 12px;
    @include font(15px, 21px, 400);
    color: #899cb1;
  }

  &__button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    & > img {
      width: 18px;
      height: 18px;
    }
  }

  &__notodos {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > p {
      @include font(15px, 21px, 400);
      color: #899cb1;
    }
  }
}

.edit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: $background-table;
}
