.edit {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background-table;
  padding: 5%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 8px;
  position: absolute;

  &__form {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: $background-body;
    padding-left: 12px;
    box-sizing: border-box;
  }

  &__form::placeholder {
    @include font(14px, 16px, 300);
  }

  &__form:focus {
    outline: 1px solid lightgray;
    border-radius: 5px;
  }

  &__btn {
    width: 300px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: $background-body;
    cursor: pointer;
    @include font(14px, 16px, 300);
    color: #899cb1;
  }
}
